<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogoteca</title>
    <link href ="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet">

</head>
<body>
    <div class="container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list_unstyled">
                    {% for message in messages %}
                    <li class="alert alert-sucess">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    
        <h1>Faça seu login</h1>
        <form method="post" action="/autenticar">
            <input type="hidden" name = proxima value="{{ proxima }}">
            <p><label>Nome do usuário:</label><input class="form-control" type="text" name="usuário" required></p>
            <p><label>Senha:</label><input class="form-control" type="password" name="Senha" required></p>
            <p><button class="btn btn-primary" type="submit">Entrar</button></p>
        </form>
    </div>
    
</body>
</html>
